@model ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
}

<h2>Change Password</h2>

<div class="col-md-12">
    <form method="post">
        @Html.ValidationSummary(false)
        @Html.TextBoxFor(p => p.OldPassword, new { @class = "form-control", placeholder = "Old Password" })
        @Html.TextBoxFor(p => p.NewPassword, new { @class = "form-control", placeholder = "New Password" })
        @Html.TextBoxFor(p => p.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })<br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

@if (ViewBag.Result != null)
{
    if (ViewBag.Result.Message != null)
    {
        <span>@ViewBag.Result.Message</span>
    }
}
@if (ViewBag.Errors != null)
{
    foreach (var error in ViewBag.Errors)
    {
        <ul>
            <li>@error[0]</li>
        </ul>
    }
}

