@model LoginDataViewModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div class="col-md-12">
    <form method="post">
        @Html.ValidationSummary(false)
        @Html.TextBoxFor(p => p.UserName, new { @class = "form-control", placeholder = "Email / User Name" })
        @Html.TextBoxFor(p => p.Password, new { @class = "form-control", placeholder = "Password" })<br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


@if (ViewBag.Result != null)
{
    if (ViewBag.Result.Message != null)
    {
        <span>@ViewBag.Result.Message</span>
    }
}
@if (ViewBag.Errors != null)
{
    foreach (var error in ViewBag.Errors)
    {
        <ul>
            <li>@error[0]</li>
        </ul>
    }
}
