@model HouseHoldCreateEditViewModel

@{
    ViewBag.Title = "CreateHouseHold";
}

<h2>Create House Hold</h2>

<div class="col-md-12">
    <form method="post">
        @Html.ValidationSummary(false)
        @Html.TextBoxFor(p => p.Name, new { @class = "form-control", placeholder = "Name" })
        @Html.TextBoxFor(p => p.Description, new { @class = "form-control", placeholder = "Description" })<br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

@if (ViewBag.Result != null)
{
    if (ViewBag.Result.Message != null)
    {
        <span>@ViewBag.Result.Message</span>
    }
}
@if (ViewBag.Errors != null)
{
    foreach (var error in ViewBag.Errors)
    {
        <ul>
            <li>@error[0]</li>
        </ul>
    }
}